name: build

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build_krun_krunfw_darwin:
    needs: build_krun_krunfw_linux
    strategy:
      fail-fast: true
      matrix:
        os: ["macos-14"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build libkrun
        shell: bash
        run: |
          ./build_libkrun.sh

      - name: reuse libkrunfw-src tree
        uses: actions/download-artifact@v5
        with:
          name: libkrunfw-src

      - name: Build libkrunfw
        shell: bash
        run: |
          tar -xf libkrunfw-src.tar.zst -C "$(pwd)"
          ./build_libkrunfw.sh

  build_krun_krunfw_linux:
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-22.04"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build libkrun
        shell: bash
        run: |
          ./build_libkrun.sh

      - name: Build libkrunfw
        shell: bash
        run: |
          ./build_libkrunfw.sh

      - name: upload libkrunfw
        uses: actions/upload-artifact@v4
        with:
          name: libkrunfw-src
          path: libkrunfw-src.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true

  build_linux_tools:
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-22.04"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build static Busybox
        shell: bash
        run: |
          ./build_busybox.sh

      - name: Build static Dropbear
        shell: sh
        run: |
          docker run --rm -v "$(pwd):$(pwd)" alpine:edge sh -c "$(pwd)/build_dropbear.sh"
