name: build

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-22.04", "macos-14"]

    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Busybox
        if: ${{ matrix.os == 'ubuntu-22.04' }}
        shell: bash
        run: |
          ./build_busybox.sh

      - name: Build Dropbear
        if: ${{ matrix.os == 'ubuntu-22.04' }}
        shell: sh
        run: |
          docker run --rm -v "$(pwd):$(pwd)" alpine:edge sh -c "$(pwd)/build_dropbear.sh"

      - name: Build libkrun for macos-14
        if: ${{ matrix.os == 'macos-14' }}
        run: ./build_libkrun.sh
