name: build

on:
  push:
    branches: [ "main", "dev" ]
    tags: [ "v*.*.*" ]
  pull_request:
    branches: [ "main", "dev" ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_alpine_rootfs:
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-22.04
            arch: x86_64
          - os: ubuntu-22.04-arm
            arch: aarch64
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Build Alpine Rootfs
        run: |
          ./build_alpine_rootfs.sh

      - name: upload alpine-rootfs-Linux-${{ matrix.arch }}.tar.zst
        uses: actions/upload-artifact@v4
        with:
          name: alpine-rootfs-Linux-${{ matrix.arch }}.tar.zst
          path: alpine-rootfs-Linux-${{ matrix.arch }}.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true


  build_krun_krunfw_darwin:
    needs: build_krun_krunfw_linux
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - run: ./build_libkrun.sh

      - uses: actions/download-artifact@v4
        with:
          name: libkrunfw-src-Linux-aarch64.tar.zst

      - run: ./build_libkrunfw.sh

      - uses: actions/upload-artifact@v4
        with:
          name: libkrunfw-Darwin-arm64.tar.zst
          path: libkrunfw-Darwin-arm64.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true

      - uses: actions/upload-artifact@v4
        with:
          name: libkrun-Darwin-arm64.tar.zst
          path: libkrun-Darwin-arm64.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true

  build_krun_krunfw_linux:
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-22.04
            arch: x86_64
          - os: ubuntu-22.04-arm
            arch: aarch64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: ./build_libkrun.sh
      - run: ./build_libkrunfw.sh

      # Only upload on aarch64
      - uses: actions/upload-artifact@v4
        if: matrix.arch == 'aarch64'
        with:
          name: libkrunfw-src-Linux-aarch64.tar.zst
          path: libkrunfw-src-Linux-aarch64.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true

      - uses: actions/upload-artifact@v4
        with:
          name: libkrunfw-Linux-${{ matrix.arch }}.tar.zst
          path: libkrunfw-Linux-${{ matrix.arch }}.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true

      - uses: actions/upload-artifact@v4
        with:
          name: libkrun-Linux-${{ matrix.arch }}.tar.zst
          path: libkrun-Linux-${{ matrix.arch }}.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true

  build_darwin_tools:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
      - run: ./build_e2fsprogs.sh

      - uses: actions/upload-artifact@v4
        with:
          name: e2fsprogs-Darwin-arm64.tar.zst
          path: e2fsprogs-Darwin-arm64.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true


  build_linux_tools:
    strategy:
      fail-fast: true
      matrix:
        include:
          - os: ubuntu-22.04
            arch: x86_64
          - os: ubuntu-22.04-arm
            arch: aarch64
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
      - run: ./build_busybox.sh
      - run: docker run --rm --workdir "$(pwd)" -v "$(pwd):$(pwd)" alpine:edge sh -c "$(pwd)/build_dropbear.sh"

      - uses: actions/upload-artifact@v4
        with:
          name: busybox-Linux-${{ matrix.arch }}.tar.zst
          path: busybox-Linux-${{ matrix.arch }}.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true

      - uses: actions/upload-artifact@v4
        with:
          name: dropbear-Linux-${{ matrix.arch }}.tar.zst
          path: dropbear-Linux-${{ matrix.arch }}.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true

  release:
    if: github.ref_type == 'tag'
    needs:
      - build_alpine_rootfs
      - build_krun_krunfw_darwin
      - build_krun_krunfw_linux
      - build_darwin_tools
      - build_linux_tools
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v4
        with:
          path: artifacts
          merge-multiple: true
      - run: |
          rm artifacts/libkrunfw-src-Linux-aarch64.tar.zst
          ls -la artifacts/

      - uses: softprops/action-gh-release@v2
        with:
          files: artifacts/*.tar.zst
          generate_release_notes: true
