name: build

on:
  push:
    branches: ["main", "dev"]
  pull_request:
    branches: ["main", "dev"]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build_krun_krunfw_darwin:
    strategy:
      fail-fast: true
      matrix:
        os: ["macos-14"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build libkrun
        shell: bash
        run: |
          ./build_libkrun.sh

  build_krun_krunfw_linux:
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-22.04"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build libkrun
        shell: bash
        run: |
          ./build_libkrun.sh

      - name: Build libkrunfw
        shell: bash
        run: |
          ./build_libkrunfw.sh

  build_linux_tools:
    strategy:
      fail-fast: true
      matrix:
        os: ["ubuntu-22.04"]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build static Busybox
        shell: bash
        run: |
          ./build_busybox.sh

      - name: Build static Dropbear
        shell: sh
        run: |
          docker run --rm -v "$(pwd):$(pwd)" alpine:edge sh -c "$(pwd)/build_dropbear.sh"
