name: build

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  build_krun_krunfw_darwin:
    needs: build_krun_krunfw_linux
    strategy:
      fail-fast: true
      matrix:
        os: [ "macos-14" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build libkrun
        shell: bash
        run: |
          ./build_libkrun.sh

      - name: download libkrunfw-src-Linux-aarch64.tar.zst tree
        uses: actions/download-artifact@v5
        if: ${{ matrix.os == 'macos-14' }}
        with:
          name: libkrunfw-src-Linux-aarch64.tar.zst

      - name: Build libkrunfw
        shell: bash
        run: |
          ./build_libkrunfw.sh

  build_krun_krunfw_linux:
    strategy:
      fail-fast: true
      matrix:
        os: [ "ubuntu-22.04","ubuntu-22.04-arm" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build libkrun
        shell: bash
        run: |
          ./build_libkrun.sh

      - name: Build libkrunfw
        shell: bash
        run: |
          ./build_libkrunfw.sh

      - name: upload libkrunfw-src-Linux-aarch64.tar.zst
        uses: actions/upload-artifact@v4
        if: ${{ matrix.os == 'ubuntu-22.04-arm' }}
        with:
          name: libkrunfw-src-Linux-aarch64.tar.zst
          path: libkrunfw-src-Linux-aarch64.tar.zst
          retention-days: 1
          compression-level: 0
          overwrite: true

  build_linux_tools:
    strategy:
      fail-fast: true
      matrix:
        os: [ "ubuntu-22.04","ubuntu-22.04-arm" ]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build static Busybox
        shell: bash
        run: |
          ./build_busybox.sh

      - name: Build static Dropbear
        shell: sh
        run: |
          docker run --rm --workdir "$(pwd)" -v "$(pwd):$(pwd)" alpine:edge sh -c "$(pwd)/build_dropbear.sh"
